*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
  pointer-events: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  font-family: sans-serif;
  background: url(../img/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

canvas {
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
  border-radius: 5px;
  border: 3px solid salmon;
  width: 100vmin;
  max-height: 100vh;
}

.settings-modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 300px;
  background-color: white;
  border-radius: 5px;
  font-weight: bold;
  padding: 10px;
}
.settings-modal form {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.settings-modal form .settings-modal-header {
  padding: 10px;
  text-align: center;
  background-color: rgb(224, 224, 224);
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 24px;
}
.settings-modal form .username {
  padding: 5px;
  outline: none !important;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.settings-modal form .user-image-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%;
  align-items: center;
}
.settings-modal form .user-image-wrapper input[type="file"] {
  background-color: rgb(224, 224, 224);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}
.settings-modal form .user-image-wrapper input[type="file"]:hover {
  background-color: rgb(186, 186, 186);
  transition: all 0.3s;
}
.settings-modal form .user-image-wrapper .display-current-image {
  height: 180px;
  width: 180px;
  border-radius: 5px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
}
.settings-modal form .user-image-wrapper .display-current-image > img {
  max-height: 100%;
  max-width: 100%;
}
.settings-modal form .save-user-settings {
  background-color: rgb(224, 224, 224);
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
}
.settings-modal form .save-user-settings:hover {
  background-color: rgb(186, 186, 186);
  transition: all 0.3s;
}
.settings-modal form .close-settings-modal {
  position: fixed;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
  background-color: rgb(240, 239, 238);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 0 3px black;
  cursor: pointer;
}
.settings-modal form .close-settings-modal > img {
  width: 50%;
  height: 50%;
}

.leaderboard-modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 300px;
  background-color: white;
  border-radius: 5px;
  font-weight: bold;
  padding: 10px;
}
.leaderboard-modal > .modal-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}
.leaderboard-modal > .modal-content .leaderboard-modal-header {
  padding: 10px;
  text-align: center;
  background-color: rgb(224, 224, 224);
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 24px;
}
.leaderboard-modal > .modal-content .leaderboard {
  padding: 30px;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgb(224, 224, 224);
  list-style: decimal;
}
.leaderboard-modal > .modal-content .close-leaderboard-modal {
  position: fixed;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
  background-color: rgb(240, 239, 238);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 0 3px black;
  cursor: pointer;
}
.leaderboard-modal > .modal-content .close-leaderboard-modal > img {
  width: 50%;
  height: 50%;
}

.settings-button {
  position: fixed;
  width: 10vw;
  height: 10vw;
  left: 40px;
  top: 20px;
  cursor: pointer;
  opacity: 0;
  display: flex;
  background: white;
  border-radius: 5px;
  padding: 5px;
}

.leaderboard-button {
  position: fixed;
  width: 10vw;
  height: 10vw;
  right: 40px;
  top: 20px;
  cursor: pointer;
  opacity: 0;
  display: flex;
  background: white;
  border-radius: 5px;
  padding: 5px;
}

.leaderboard-modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 300px;
  background-color: white;
  border-radius: 5px;
  font-weight: bold;
  padding: 10px;
  display: none;
}
